.Bank-container{
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.captcha{
    margin-bottom: 3px;
    margin-top: 3px;
}
.card-img{
    width: 5px;
    height: 100px;
}
.btn-submit{
    margin-right: 40px;
}
/* .card-img{
    width:6px;
    height: 30px;
} */